<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luyang.windmill.mapper.EmployeeMapper">




    <select id="selectById" resultType="com.luyang.windmill.bean.Employee" parameterType="java.lang.Integer">
        SELECT
              id,
              last_name AS lastName,
              gender,
              email
          FROM
              test.tbl_emplyee
               where id=#{id}
    </select>
</mapper>