<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.mapper.UserAddressMapper">

    <select id="getUserAddressList" parameterType="java.lang.String" resultType="com.atguigu.gmall.bean.UserAddress">
        SELECT
				userAddress.id,
				userAddress.userAddress,
				userAddress.userId,
				userAddress.phoneNum,
				userAddress.isDefault
			FROM
				test.userAddress;
    </select>
</mapper>