<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoyiguren.dubbo.userserviceproviderboot.dao.UserServiceMapper">

    <select id="getAddress" resultType="java.lang.String" parameterType="java.util.Map">
        select '河南洛阳' as name from dual;
    </select>
</mapper>